body {
    font-family: 'Times New Roman', 'SimSun', sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    text-align: center;
    margin-top: 50px;
}

header h1 {
    font-size: 2em;
    margin: 10px 0;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a[href^="http"] {
    color: blue;
}

section {
    max-width: 800px;
    margin: -20px auto;
    padding: 10px;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.experience-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date, .details, .position {
    flex: 1;
}

.date {
    width: 50px; 
    font-weight: bold;
}

.details {
    flex: 2;
    text-align: left;
}

.position {
    flex: 2;
    text-align: left;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
}

.github-stars {
    vertical-align: middle;
}
